<div class="container">











</div>





<div class="row py-5 px-4">
  <div class="col-md-12 col-sm-4 mx-auto"> <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 py-4 cover">
        <div class="media align-items-end">
          <div class="profile mr-3">

            <div class="d-flex justify-content-between align-items-center">

              <%= cl_image_tag @user.photo.key, width:"130", class: "rounded mb-2 img-thumbnail" %>

              <% if @user == current_user %>
                <%= link_to 'Edit Profile', edit_user_registration_path, class: 'text-white btn edit-btn btn-outline-dark btn-sm btn-block' %>
              <% end %>

            </div>
            <%# <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail"> %>

            <div class="media-body d-flex justify-content-between align-items-center mb-2 text-white">
              <h4 class="mt-0 mb-0"><%= @user.name %></h4>


              <div class="p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                  <li class="list-inline-item"> <h5 class="font-weight-bold mb-0 d-block"><%= @user.products.count %></h5><small class="text-muted"> <i class="fa-brands fa-product-hunt"></i> Products</small> </li>
                  <li class="list-inline-item"> <h5 class="font-weight-bold mb-0 d-block"><%= @offers_count %></h5><small class="text-muted"> <i class="fa-regular fa-handshake"></i> Successful deals</small> </li>
                  <li class="list-inline-item"> <h5 class="font-weight-bold mb-0 d-block"><%= @user.rated_reviews.count %></h5><small class="text-muted"> <i class="fa-solid fa-star"></i> Reviews</small> </li>
                  <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block"><%= '⭐' * @user_rating %></h5>
                    <small class="text-muted">
                    <%# putting an emoji face according the the user's overall rating %>
                      <% if @user_rating >= 4 %>
                        <i class="fa-regular fa-face-smile"></i>
                      <% elsif @user_rating >= 3 %>
                        <i class="fa-regular fa-face-rolling-eyes"></i>
                      <% elsif @user_rating >= 2 %>
                        <i class="fa-regular fa-face-frown-open"></i>
                      <% elsif @user_rating >= 1 %>
                        <i class="fa-regular fa-face-frown-open"></i>
                      <% elsif @user_rating >= 0 %>
                        <i class="fa-regular fa-face-frown"></i>
                      <% end %>
                      Overall Rating</small>
                  </li>
                </ul>
              </div>


              <%# <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p> %>
            </div>
            <div class="text-white">
              <div class="d-flex">
                <small><i class="fa-regular fa-user"></i></small>
                <small><p class='m-0'>&nbsp;<%= @user.username %></p></small>
              </div>
              <% if @user == current_user %>
                <div class="d-flex">
                  <small><i class="fa-regular fa-envelope"></i></small>
                  <small><p class='m-0'>&nbsp;<%= @user.email %></p></small>
                </div>
              <% end %>
            </div>
            </div>

          </div>
        </div>



        <div class="py-4 px-4 row">

          <div class="left col-6 ">
            <%= link_to 'Add Product', new_product_path,
                class: 'mb-4 white-text btn edit-btn btn-outline-dark btn-sm btn-block'%>


            <div class='px-2 py-4'>
              <h4 class='mb-4'><strong>Available Products:</strong></h4>
              <% if @availabe_products.blank? %>
                <%= @user == current_user ? 'You have' : "#{@user.username} has" %> no available products to barter!
              <% else %>

                <div class='row'>
                  <% @availabe_products.each do |product|%>
                    <div class = "mt-4 mx-1 card col-sm-1 col-md-6 col-lg-3"
                         data-product-filter-target="products">
                      <%# <%= cl_image_tag("bartered_logo_big.png", width: 50, height: 50, crop: :fill) %>
                      <% if product.photos.first %>
                        <%= link_to product do %>
                          <div class = "imgBx">
                              <%= cl_image_tag product.photos.first.key, class: 'card-img-top' %>
                          </div>
                        <% end %>
                      <%end%>
                      <div class="text-center card-body">
                        <p><strong><%= link_to product.title.capitalize , product_path(product), class: "link" %></strong></p>

                        <div class="d-flex" style="max-width:100%"> <%# offered by & quality %>
                          <div style="max-width:100%">
                            <h6><small><strong>Offered by:</strong></small></h6>
                            <small><p><%= link_to product.user.name %></p></small>
                          </div> <%# from %>
                          <div style="max-width:100%">
                            <small>Quality:</small>
                            <small><%= product.quality.capitalize %></p></small>
                          </div> <%# quality %>
                        </div>
                        <span class="badge bg-primary rounded-pill"><%= pluralize(product.offers.count + product.offered_offers.count, 'Offer')%></span>

                      </div> <%# card body %>
                    </div> <%# card div %>
                  <% end %>
                </div>
              <% end %>

            </div>

            <div class="d-flex align-items-center justify-content-between mb-3">
              <h5 class="mb-0"><strong>Bartered Products:</strong></h5>
            </div>

            <% if @bartered_products.blank? %>
              <%= @user == current_user ? 'You have' : "#{@user.name} has" %> no bartered products yet!
            <% else %>


              <div class="row">

                <% @bartered_products.each do |product| %>


                  <div class = "mt-4 mx-1 card col-sm-1 col-md-6 col-lg-3" style= "background-color: #F8C6C6"
                      data-product-filter-target="products">
                    <%# <%= cl_image_tag("bartered_logo_big.png", width: 50, height: 50, crop: :fill) %>
                    <% if product.photos.first %>
                      <%= link_to product do %>
                        <div class = "imgBx">
                            <%= cl_image_tag product.photos.first.key, class: 'card-img-top' %>
                        </div>
                      <% end %>
                    <%end%>
                    <div class="text-center card-body">
                      <p><strong><%= link_to product.title.capitalize , product_path(product), class: "link" %></strong></p>

                      <div class="d-flex" style="max-width:100%"> <%# offered by & quality %>
                        <div style="max-width:100%">
                          <h6><small><strong>Offered by:</strong></small></h6>
                          <small><p><%= link_to product.user.name %></p></small>
                        </div> <%# from %>
                        <div style="max-width:100%">
                          <small>Quality:</small>
                          <small><%= product.quality.capitalize %></p></small>
                        </div> <%# quality %>
                      </div>
                      <span class="badge bg-primary rounded-pill"><%= pluralize(product.offers.count + product.offered_offers.count, 'Offer')%></span>

                    </div> <%# card body %>
                  </div> <%# card div %>
                <% end %>
              </div>
            <% end %>


          </div>

          <div class="right col-6">

            <% if @user == current_user %>
              <h4><strong>Created offers:</strong></h4>
              <div class='px-2 py-4'>
                <ul class='list-group'>
                  <% @user.offers.each do |offer|%>
                    <li class='bg-light list-group-item d-flex justify-content-between align-items-center'>
                      <p class='m-0'>Your <strong><%= link_to offer.offered_product.title %></strong> in exchange for:
                        <strong><%= link_to offer.product.title %></strong>
                      </p>
                      <% if offer.accepted == true %>
                        <span class="badge bg-success rounded-pill"><%= link_to 'Offer accepted!', offer_path(offer), class: 'text-white' %></span>
                      <% elsif offer.refused == true %>
                        <span class="badge bg-danger rounded-pill"><%= link_to 'Offer refused!', offer_path(offer), class: 'text-white' %></span>
                      <% else %>
                        <span class="badge bg-primary rounded-pill"><%= link_to 'Offer pending!', offer_path(offer), class: ' text-white' %></span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <h4><strong>Received offers:</strong></h4>
              <div class='px-2 py-4'>
                  <ul class='list-group'>
                    <% @user.received_offers.each do |offer|%>
                      <li class='bg-light list-group-item d-flex justify-content-between align-items-center'>
                          <p class='m-0'><strong><%= offer.offered_product.title.capitalize %></strong>
                            in exchange for your: <strong><%= offer.product.title.capitalize %></strong>
                          </p>
                          <% if offer.accepted == true %>
                            <span class="badge bg-success rounded-pill"><%= link_to 'Offer accepted!', offer_path(offer), class: 'text-white' %></span>
                          <% elsif offer.refused == true %>
                            <span class="badge bg-danger rounded-pill"><%= link_to 'Offer refused!', offer_path(offer), class: 'text-white' %></span>
                          <% else %>
                            <span class="badge bg-primary rounded-pill"><%= link_to 'Offer pending!', offer_path(offer), class: ' text-white' %></span>
                          <% end %>
                      </li>

                      <div class='d-flex align-items-center'>

                        <div class = "mt-4 mx-1 card col-sm-1 col-md-6 col-lg-3"
                            data-product-filter-target="products">
                          <%# <%= cl_image_tag("bartered_logo_big.png", width: 50, height: 50, crop: :fill) %>
                          <% if offer.product.photos.first %>
                            <%= link_to offer.product do %>
                              <div class = "imgBx">
                                  <%= cl_image_tag offer.product.photos.first.key, class: 'card-img-top' %>
                              </div>
                            <% end %>
                          <%end%>
                          <div class="text-center card-body">
                            <p><strong><%= link_to offer.product.title.capitalize , product_path(offer.product), class: "link" %></strong></p>

                            <div class="d-flex" style="max-width:100%"> <%# offered by & quality %>
                              <div style="max-width:100%">
                                <h6><small><strong>Offered by:</strong></small></h6>
                                <small><p><%= link_to offer.product.user.name %></p></small>
                              </div> <%# from %>
                              <div style="max-width:100%">
                                <small>Quality:</small>
                                <small><%= offer.product.quality.capitalize %></p></small>
                              </div> <%# quality %>
                            </div>
                            <span class="badge bg-primary rounded-pill"><%= pluralize(offer.product.offers.count + offer.product.offered_offers.count, 'Offer')%></span>

                          </div> <%# card body %>
                        </div> <%# card div %>

                        <div class="arrow">
                          <%# <%= cl_image_tag("left_right_arrow_via2ac", width: 400, height: 300, crop: :fill) %>
                          <img src="https://res.cloudinary.com/diszilsan/image/upload/v1679508935/left_right_arrow_via2ac.png" alt="arrow" width='50px'>
                        </div>

                        <div class = "mt-4 mx-1 card col-sm-1 col-md-6 col-lg-3"
                            data-product-filter-target="products">
                          <%# <%= cl_image_tag("bartered_logo_big.png", width: 50, height: 50, crop: :fill) %>
                          <% if offer.offered_product.photos.first %>
                            <%= link_to offer.offered_product do %>
                              <div class = "imgBx">
                                  <%= cl_image_tag offer.offered_product.photos.first.key, class: 'card-img-top' %>
                              </div>
                            <% end %>
                          <%end%>
                          <div class="text-center card-body">
                            <p><strong><%= link_to offer.offered_product.title.capitalize , product_path(offer.offered_product), class: "link" %></strong></p>

                            <div class="d-flex" style="max-width:100%"> <%# offered by & quality %>
                              <div style="max-width:100%">
                                <h6><small><strong>Offered by:</strong></small></h6>
                                <small><p><%= link_to offer.offered_product.user.name %></p></small>
                              </div> <%# from %>
                              <div style="max-width:100%">
                                <small>Quality:</small>
                                <small><%= offer.offered_product.quality.capitalize %></p></small>
                              </div> <%# quality %>
                            </div>
                            <span class="badge bg-primary rounded-pill"><%= pluralize(offer.offered_product.offers.count + offer.offered_product.offered_offers.count, 'Offer')%></span>

                          </div> <%# card body %>
                        </div> <%# card div %>


                      </div>






                    <% end %>
                  </ul>
              </div>
            <% end %>

          </div>
        </div>

        <div class="px-4 py-3">

          <h5 class="mb-3"><strong><%= @user.first_name.capitalize %></strong>' Reviews</h5>

          <div class='rounded shadow-sm bg-light p-4'>
            <% if @user.rated_reviews.blank? %>
              <h5 class='text-center'> <strong><%= @user.first_name.capitalize %></strong><em> has no reviews! </h5></em>
            <% else %>
              <ul class="list-group">
                <% @user.rated_reviews.each do |review| %>
                  <li class="list-group-item">
                    <%= link_to review.reviewer.username, user_path(review.reviewer) %>:
                    <strong><%= '⭐' * review.rating %></strong>
                    <%= review.content %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <br>
          <% unless @user == current_user %>
            <div class="rounded shadow-sm bg-light px-4 pb-4">
              <%= render "reviews/new"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
