<div class="container">

  <h1><%= @user.name %>' Profile</h1>
  <p>username: <%= @user.username %></p>
  <% if @user == current_user %>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
  <% end %>
  <hr>


    <% if @availabe_products.blank? %>
      <%= @user == current_user ? 'You have' : "#{@user.username} has" %> no available products!
    <% else %>
    <p><strong>Products:</strong></p>
      <p><% @availabe_products.each do |product|%></p>
        <%= link_to product.title, product_path(product) %>
      <p><% end %></p>
    <% end %>

  <br>
  <hr>
  <% if @user == current_user %>
    <p><strong>You offered:</strong></p>
      <% @user.offers.each do |offer|%>
        <div class="div">
          <strong><%= offer.offered_product.title %></strong> in exchange for: <strong><%= offer.product.title %></strong>
          <% if offer.accepted == true %>
            <%= link_to 'Offer accepted!', offer_path(offer), class: 'btn btn-success' %>
          <% elsif offer.refused == true %>
            <%= link_to 'Offer refused!', offer_path(offer), class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Show the offer', offer_path(offer), class: 'btn btn-primary' %>
          <% end %>
          </p>
        </div>
      <% end %>
    <hr>

    <p><strong>You are offered:</strong></p>
      <% @user.received_offers.each do |offer|%>
        <div class="div">
          <strong><%= offer.offered_product.title %></strong> in exchange for: <strong><%= offer.product.title %></strong>
          <% if offer.accepted == true %>
            <%= link_to 'Offer accepted!', offer_path(offer), class: 'btn btn-success' %>
          <% elsif offer.refused == true %>
            <%= link_to 'Offer refused!', offer_path(offer), class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'Show the offer', offer_path(offer), class: 'btn btn-primary' %>
          <% end %>
          </p>
        </div>
      <% end %>
  <% end %>
  <br>
  <hr>

    <% if @user.rated_reviews.blank? %>
      <strong><%= @user.first_name.capitalize %> has no reviews!</strong>
    <% else %>
      <p>Overall Rating:</p>
      <p><%= @user_rating %></p>

      <hr>
      <p><strong>Reviews:</strong></p>
      <ul class="list-group">
        <% @user.rated_reviews.each do |review| %>
          <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer) %>: <%= review.content %>
            <strong><%= 'â­' * review.rating %></strong>
          </li>
        <% end %>
      </ul>
      <br>
    <% end %>





  <%= render "reviews/new" unless @user == current_user %>
</div>
