<div class="container">


  <h1>Users#show</h1>
  <p>Find me in app/views/users/show.html.erb</p>


  <h1><%= @user.name %></h1>
  <h5>username: <%= @user.username %></h5>

  <hr>


    <% if @user.products.blank? %>
      <%= @user.username %> has no products!
    <% else %>
    <p><strong>Products:</strong></p>
      <p><% @user.products.each do |product|%></p>
        <%= product.title %>
      <p><% end %></p>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_registration_path %>
      <% end %>
    <% end %>

  <br>
  <hr>

    <% if @user.rated_reviews.blank? %>
      <strong><%= @user.email %> has no reviews!</strong>
    <% else %>
      <p>Overall Rating:</p>
      <p><%= @user_rating %></p>

      <hr>
      <p><strong>Reviews:</strong></p>
      <ul class="list-group">
        <% @user.rated_reviews.each do |review| %>
          <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer) %>: <%= review.content %>
            <strong><%= 'â­' * review.rating %></strong>
          </li>
        <% end %>
      </ul>
      <br>
    <% end %>





  <%= render "reviews/new" unless @user == current_user %>
</div>
