<div class="container">
    <h1 class='display-6 text-center mt-3'><%= @user.name %>' Profile</h1>
      <div class='px-2 py-4 d-flex justify-content-between align-items-center'>
        <h4><strong>Personal details:</strong></h4>
        <p class='m-0'><mark>Username:</mark> <%= @user.username %></p>
        <p class='m-0'><mark>Email:</mark> <%= @user.email %></p>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-warning text-white' %>
        <% end %>
    </div> <%# edit div %>

<div class='px-2 py-4'>
    <% if @availabe_products.blank? %>
      <%= @user == current_user ? 'You have' : "#{@user.username} has" %> no available products!
    <% else %>
    <h4 class='mb-4'><strong>Products:</strong></h4>
    <div class='list-group'>
      <% @availabe_products.each do |product|%>
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to product.title.capitalize, product_path(product),
          class: 'text-decoration-none' %>
        <span class="badge bg-primary rounded-pill"><%=product.offers.count%> Offer(s)</span>
      </div>
      <% end %>
    </div>
    <% end %>

</div>

<h4><strong>Created offers:</strong></h4>
<div class='px-2 py-4'>
  <% if @user == current_user %>
    <ul class='list-group'>
      <% @user.offers.each do |offer|%>
      <li class='bg-light list-group-item d-flex justify-content-between align-items-center'>
          <p class='m-0'>Your <strong><%= offer.offered_product.title %></strong> in exchange for:
            <strong><%= offer.product.title %></strong>
          </p>
          <% if offer.accepted == true %>
            <%= link_to 'Offer accepted!', offer_path(offer), class: 'btn btn-success text-white' %>
          <% elsif offer.refused == true %>
            <%= link_to 'Offer refused!', offer_path(offer), class: 'btn btn-danger text-white' %>
          <% else %>
            <%= link_to 'Show the offer', offer_path(offer), class: 'btn btn-primary' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

<h4><strong>Received offers:</strong></h4>
<div class='px-2 py-4'>
    <ul class='list-group'>
      <% @user.received_offers.each do |offer|%>
      <li class='bg-light list-group-item d-flex justify-content-between align-items-center'>
          <p class='m-0'><strong><%= offer.offered_product.title.capitalize %></strong>
            in exchange for your: <strong><%= offer.product.title.capitalize %></strong>
          </p>
          <% if offer.accepted == true %>
            <%= link_to 'Offer accepted!', offer_path(offer), class: 'btn btn-success text-white' %>
          <% elsif offer.refused == true %>
            <%= link_to 'Offer refused!', offer_path(offer), class: 'btn btn-danger text-white' %>
          <% else %>
            <%= link_to 'Show the offer', offer_path(offer), class: 'btn btn-primary text-white' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>
<hr>

<h5 class="mb-0"><strong><%= @user.first_name.capitalize %></strong>' Reviews</h5>

<div class='bg-light p-4'>
    <% if @user.rated_reviews.blank? %>
      <h5 class='text-center'> <strong><%= @user.first_name.capitalize %></strong><em> has no reviews! </h5></em>
    <% else %>
      <p>Overall Rating:</p>
      <p><%= @user_rating %></p>

      <hr>
      <p><strong>Reviews:</strong></p>
      <ul class="list-group">
        <% @user.rated_reviews.each do |review| %>
          <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer) %>: <%= review.content %>
            <strong><%= '⭐' * review.rating %></strong>
          </li>
        <% end %>
      </ul>
    <% end %>
</div>




  <%= render "reviews/new" unless @user == current_user %>
</div>





<div class="row py-5 px-4">
  <div class="col-md-12 col-sm-4 mx-auto"> <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 cover">
        <div class="media align-items-end profile-head">
          <div class="profile mr-3">
            <%# <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="..." width="130" class="rounded mb-2 img-thumbnail"> %>
            <%= cl_image_tag current_user.photo.key, width:"130", class: "rounded mb-2 img-thumbnail" %>

            <div class="media-body mb-5 text-white">
              <h4 class="mt-0 mb-0"><%= @user.name %></h4>
              <%# <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p> %>
            </div>
            </div>
            <% if @user == current_user %>

              <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-outline-dark btn-sm btn-block' %>
            <% end %>
          </div>
        </div>

        <div class="bg-light p-4 d-flex justify-content-end text-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"> <h5 class="font-weight-bold mb-0 d-block"><%= @user.products.count %></h5><small class="text-muted"> <i class="fa-brands fa-product-hunt"></i> Products</small> </li>
            <li class="list-inline-item"> <h5 class="font-weight-bold mb-0 d-block"><%= @offers_count %></h5><small class="text-muted"> <i class="fa-regular fa-handshake"></i> Successful deals</small> </li>
            <li class="list-inline-item"> <h5 class="font-weight-bold mb-0 d-block"><%= @user.rated_reviews.count %></h5><small class="text-muted"> <i class="fa-solid fa-star"></i> Reviews</small> </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block"><%= '⭐' * @user_rating %></h5>
              <small class="text-muted">
              <%# putting an emoji face according the the user's overall rating %>
                <% if @user_rating >= 4 %>
                  <i class="fa-regular fa-face-smile"></i>
                <% elsif @user_rating >= 3 %>
                  <i class="fa-regular fa-face-rolling-eyes"></i>
                <% elsif @user_rating >= 2 %>
                  <i class="fa-regular fa-face-frown-open"></i>
                <% elsif @user_rating >= 1 %>
                  <i class="fa-regular fa-face-frown-open"></i>
                <% elsif @user_rating >= 0 %>
                  <i class="fa-regular fa-face-frown"></i>
                <% end %>
                Overall Rating</small>
            </li>
          </ul>
        </div>

        <div class="px-4 py-3">
          <h5 class="mb-0">About</h5>
          <div class="p-4 rounded shadow-sm bg-light">
            <p class="font-italic mb-0">Web Developer</p>
            <p class="font-italic mb-0">Lives in New York</p>
            <p class="font-italic mb-0">Photographer</p>
          </div>
        </div>

        <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0"><strong><%= @user.first_name.capitalize %></strong>' Products</h5>
          </div>
          <div class="row">
            <% @products.each do |product| %>
              <div class="col-sm-1 col-md-6 col-lg-3" data-product-filter-target="products">
                <div class = "mt-4 card">
                  <% if product.photos.first %>
                  <div class = "imgBx">
                      <%= cl_image_tag product.photos.first.key, class: 'card-img-top' %>
                  </div>
                  <%end%>
                  <div class="text-center card-body">
                    <p><%= link_to product.title.capitalize , product_path(product), class: "link" %></p>
                    <div>
                      <h6><strong>Offer from:</strong></h6>
                      <p><%= product.user.name %></p>
                    </div> <%# from %>
                    <div>
                      <h6><strong>Quality:</strong></h6>
                      <p><%= product.quality.capitalize %></p>
                    </div> <%# quality %>
                  </div> <%# card body %>
                </div> <%# card div %>
              </div> <%# card container %>
            <% end %>
          </div> <%# row %>
        </div>

        <div class="px-4 py-3">

          <h5 class="mb-3"><strong><%= @user.first_name.capitalize %></strong>' Reviews</h5>

          <div class='rounded shadow-sm bg-light p-4'>
            <% if @user.rated_reviews.blank? %>
              <h5 class='text-center'> <strong><%= @user.first_name.capitalize %></strong><em> has no reviews! </h5></em>
            <% else %>
              <ul class="list-group">
                <% @user.rated_reviews.each do |review| %>
                  <li class="list-group-item">
                    <%= link_to review.reviewer.username, user_path(review.reviewer) %>:
                    <strong><%= '⭐' * review.rating %></strong>
                    <%= review.content %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <br>
          <div class="rounded shadow-sm bg-light px-4 pb-4">
            <%= render "reviews/new" unless @user == current_user %>
          </div>
        </div>
      </div>
    </div>
</div>
