<%# New navabar from the updated figma %>
<%# general css anavbar %>
<div class = "navbar anavbar" >
  <div  class='container-fluid'>
    <div class = "alogotext">Barter<span style="color:#3C9379">bay</span>
    </div>
    <%# sing in logic where we start with not sign in user %>
    <% unless user_signed_in? %>
  <%# login and register button %>
    <div class = "aregistration">
      <%# login %>
      <div class = "aregistration link" ><%= link_to "Login", new_user_session_path, class: "link"%>
      </div>
      <%# register button %>
      <div class = "ageneralbutton">
      <%# text %>
        <div><span style="color:#fFFFFF"><%= link_to "Register", new_user_registration_path, class: "link2"%></span></div>
        <% else %>
        <%# show the nav with user info %>
        <div  class="acurrentusernav" >
        <%# home link  %>
        <div class = "aregistration" ><%= link_to "Home", root_path, class: "link" %>
        <%# message link %>
        <div class = "aregistration" ><%= link_to "Message", '#', class: "link" %>
        <%# avatar with the profil link %>
        <li class="nav-item dropdown d-flex align-items-center">
            <% if current_user.photo.key %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <div class="avatar dropdown-toggle" id= "navbarDropdown" data-bs-toggle= "dropdown" aria-haspopup= 'true' aria-expanded= 'false'>
                <%= current_user.first_name.capitalize %>
              </div>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
        </div>
      </div>
  </div>

  </div>
<%# add logotext %>
</div>

<%# addion of the barterbay logotext on the left side  %>
<%# Addion of  the css black and green to the text .logo-text %>
