<div class="container">

<% if @offer.user == current_user %>
    <h3>You offered:</h3>
    <h3><strong><%= link_to @offer.offered_product.title, product_path(@offer.offered_product) %></strong></h3>
    <h3>to barter with:</h3>
    <h3><strong><%= link_to @offer.product.title, product_path(@offer.product) %></strong></h3>
<% else %>
    <h3><%= @offer.user.username %> offered you:</h3>
    <h3><strong><%= link_to @offer.offered_product.title, product_path(@offer.offered_product) %></strong></h3>
    <h3>to barter with your product:</h3>
    <h3><strong><%= link_to @offer.product.title, product_path(@offer.product) %></strong></h3>
<% end %>
  <% if @offer.deal == false %>
    <p>Offer is still pending</p>
  <% end %>

  <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="chatroom">
    <h1>#<%= @chatroom.name %></h1>

    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div> <%# chatroom container %>

  <%= simple_form_for [@product, @offer, @chatroom, @message], html: {class: "d-flex"} do |f| %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div> <%# stimulus container %>
</div> <%# main container %>
