<div class="mt-4">

  <% if @offer.user == current_user %>

  <div class="d-flex justify-content-center">
    <%# <div class="col-md-6"> %>
    <div class= "new-cl w-40" style= "width:40%">
      <div class="col-md-6 accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <div class="product-title">
              <%= @offer.offered_product.title  %>
            </div>

          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="text-end">
              <i class="fa-solid fa-user"></i>   <%= link_to @offer.offered_product.user.username, @offer.offered_product.user, class:"username"  %>
            </div>
            <%= @offer.offered_product.description %> <p><%= @offer.offered_product.category %> : <%= @offer.offered_product.subcategory %></p>
                  <p><strong>Address:</strong> <%= @offer.offered_product.address %></p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <div class="d-flex justify-content-end">
            <strong>User Rating</strong>
            <% if @offer.offered_product.user.rated_reviews.blank? %>
              <p class='text-center'><em> No reviews yet! </em></p>
            <% else %>
              <%= '⭐' * @user2_rating %>
            <% end %>
          </div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
        <% @offer.offered_product.user.rated_reviews.each do |review| %>
            <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer), class:"username" %>: <%= review.content %>
              <strong><%= '⭐' * review.rating %></strong>
            </li>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingthree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          <strong>Product Picture</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingthree">
        <div class="accordion-body">
          <div class="imgBx">
            <%= cl_image_tag @offer.offered_product.photos.first.key, height: 400, crop: :fill%>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>

<div class="arrow">
                          <%# <%= cl_image_tag("left_right_arrow_via2ac", width: 400, height: 300, crop: :fill) %>
                          <img src="https://res.cloudinary.com/diszilsan/image/upload/v1679508935/left_right_arrow_via2ac.png" alt="arrow" width='50px'>
                        </div>

<div class= "new-cl w-40" style= "width:40%" >
  <div class="col-md-6 accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <div class="product-title">
          <%= @offer.product.title %>
        </div>

      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="text-end">
          <i class="fa-solid fa-user"></i> <%= link_to @offer.product.user.username, @offer.product.user, class:"username" %>
        </div>
      <%= @offer.product.description %> <p><%= @offer.product.category %> : <%= @offer.product.subcategory %></p>
              <p><strong>Address:</strong> <%= @offer.product.address %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <div class="d-flex justify-content-end">
          <strong>User Rating</strong>
          <% if @offer.product.user.rated_reviews.blank? %>
            <p class='text-center'><em> No reviews yet! </em></p>
          <% else %>
            <%= '⭐' * @user1_rating %>
          <% end %>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
      <% @offer.product.user.rated_reviews.each do |review| %>
          <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer), class:"username" %>: <%= review.content %>
            <strong><%= '⭐' * review.rating %></strong>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingthree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <strong> Product Picture</strong>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
      <div class = "imgBx">
            <%= cl_image_tag  @offer.product.photos.first.key, height: 400, crop: :fill%>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
    <div class= 'd-flex justify-content-center mt-3'>
      <% if @offer.accepted == true %>
        <p class='border border-success p-2'>Your Offer is Accepted!</p>
        <p div class="alert alert-warning" role="alert">Your Offer is Accepted!</p>
      <% elsif @offer.refused == true %>
        <p class='border border-danger p-2'>Your Offer is Refused!</p>
      <% else @offer.deal == false %>
        <p class='border border-warning p-2'>Your Offer is still Pending...</p>
        <p div class="alert alert-warning" role="alert">Your <mark>Offer</mark> is still Pending...</p>
      <% end %>
    </div>
  <% else %>
  <div class="container mt-4">



  <div class="d-flex justify-content-center">
    <%# <div class="col-md-6"> %>
    <div class= "new-cl w-40" style= "width:40%">
      <div class="col-md-6 accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <div class="product-title">
              <%= @offer.offered_product.title %>
            </div>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="text-end">
              <i class="fa-solid fa-user"></i>   <%= link_to @offer.offered_product.user.username, @offer.offered_product.user, class:"username"  %>
            </div>
            <%= @offer.offered_product.description %> <p><%= @offer.offered_product.category %> : <%= @offer.offered_product.subcategory %></p>
            <p><strong>Address:</strong> <%= @offer.offered_product.address %></p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <strong> <%= @offer.offered_product.user.first_name.capitalize %> Rating &nbsp;</strong>
          <div class="d-flex justify-content-end">
            <% if @offer.offered_product.user.rated_reviews.blank? %>
              <p class='text-center'><em> No reviews yet! </em></p>
            <% else %>
              <%= '⭐' * @user1_rating %>
            <% end %>
          </div>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
        <% @offer.offered_product.user.rated_reviews.each do |review| %>
            <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer) %>: <%= review.content %>
              <strong><%= '⭐' * review.rating %></strong>
            </li>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapsethree">
          <strong> Product Picture</strong>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
        <div class = "imgBx">
            <%= cl_image_tag  @offer.offered_product.photos.first.key, height: 400, crop: :fill%>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<div class="arrow">
                          <%# <%= cl_image_tag("left_right_arrow_via2ac", width: 400, height: 300, crop: :fill) %>
                          <img src="https://res.cloudinary.com/diszilsan/image/upload/v1679508935/left_right_arrow_via2ac.png" alt="arrow" width='50px'>
                        </div>
<div class= "new-cl w-40" style= "width:40%" >
  <div class="col-md-6 accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <div class="product-title">
          <%= @offer.product.title  %>
        </div>


      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="text-end">
          <i class="fa-solid fa-user"></i>   <%= link_to @offer.product.user.username, @offer.product.user, class:"username"  %>
        </div>
      <%= @offer.product.description %> <p><%= @offer.product.category %> : <%= @offer.product.subcategory %></p>
              <p><strong>Address:</strong> <%= @offer.product.address %></p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <strong><%= @offer.product.user.first_name.capitalize %> Rating &nbsp;</strong>
        <div class="d-flex justify-content-end">
          <% if @offer.product.user.rated_reviews.blank? %>
            <p class='text-center'><em> No reviews yet! </em></p>
          <% else %>
            <%= '⭐' * @user1_rating %>
          <% end %>
        </div>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">

      <% @offer.product.user.rated_reviews.each do |review| %>
          <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer) %>: <%= review.content %>
            <strong><%= '⭐' * review.rating %></strong>
          </li>
        <% end %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <strong> Product Picture</strong>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
<div class = "imgBx">
            <%= cl_image_tag  @offer.product.photos.first.key, height: 400, crop: :fill%>
          </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>
<div class="offer-accep btspace pt-2">
    <% if @offer.deal == false %>
      <div class='d-flex justify-content-center'>
        <%= button_to 'Accept Offer', accept_offer_path(@offer), method: :put, class: 'btn btn-outline-success' %>
        <%= button_to 'Refuse Offer', refuse_offer_path(@offer), method: :put, class: 'btn btn-outline-danger' %>
      </div>
    <% elsif @offer.accepted == true %>
      <p class="alert alert-success" role="alert" >You Accepted the Offer!</p>
    <% else %>
      <p class="alert alert-danger" role="alert">You Refused the Offer!</p>
    <% end %>
  <% end %>
</div>
<%# <%= link_to 'Delete', @offer, method: :delete, form: { data: { turbo_confirm: 'Do you really…' } })
%>
<%# ROW %>

  <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @offer.id %>">
    <div class="chatroom">
      <h1><strong>Messages</strong></h1>

      <div class="messages" data-chatroom-subscription-target="messages">
        <% @offer.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div> <%# chatroom container %>

    <%= simple_form_for [@offer, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
    </div> <%# stimulus container %>
  </div> <%# main container %>
</div>
</div>
