<div class="container mt-4">

<% if @offer.user == current_user %>
<div class="row">
  <div class="col-md-6">
    <h3>You offered:</h3>
    <h3><strong><%= link_to @offer.offered_product.title, product_path(@offer.offered_product), class: "btn btn-dark" %></strong></h3>
    </div>
  <div class="col-md-6">
    <h3>to barter with:</h3>
    <h3><strong><%= link_to @offer.product.title, product_path(@offer.product), class: "btn btn-dark" %></strong></h3>
</div>
</div>
      <% if @offer.accepted == true %>
        <p>Your Offer is Accepted!</p>
      <% elsif @offer.refused == true %>
        <p>Your Offer is Refused!</p>
      <% else @offer.deal == false %>
        <p>Your <mark>Offer</mark> is still Pending...</p>
      <% end %>


  <% else %>
  <div class="row">
  <div class="col-md-6">
    <h3><%= @offer.user.username.capitalize %> offered you:</h3>
    <%= button_to @offer.offered_product.title, product_path(@offer.offered_product), class: "btn btn-dark" %>
  </div>
  <div class="col-md-6">
    <h3>to barter with your product:</h3>
    <%= button_to @offer.product.title, product_path(@offer.product), class: "btn btn-dark" %>
  </div>
</div> <%# ROW %>
<hr>
<div class="row">
    <% if @offer.deal == false %>
      <div class='col-md-4'><%= button_to 'Accept Offer', accept_offer_path(@offer), method: :put, class: 'btn btn-outline-success' %></div>
      <div class='col-md-4'><%= button_to 'Refuse Offer', refuse_offer_path(@offer), method: :put, class: 'btn btn-outline-warning' %></div>
    <% elsif @offer.accepted == true %>
      <p>You Accepted the Offer!</p>
    <% else %>
      <p>You Refused the Offer!</p>
    <% end %>
  <% end %>

<%# <%= link_to 'Delete', @offer, method: :delete, form: { data: { turbo_confirm: 'Do you really…' } })
%>
<div class='col-md-4'>
  <%= link_to "Delete", offer_path(@offer),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-danger' %> </div>
</div> <%# ROW %>

  <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @offer.id %>">
    <div class="chatroom">
      <h1>#<%= @offer.id %></h1>

      <div class="messages" data-chatroom-subscription-target="messages">
        <% @offer.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div> <%# chatroom container %>

    <%= simple_form_for [@offer, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@offer.id}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
    </div> <%# stimulus container %>
  </div> <%# main container %>

</div>
