<div class="container">

<% if @offer.user == current_user %>
    <h3>You offered:</h3>
    <h3><strong><%= link_to @offer.offered_product.title, product_path(@offer.offered_product) %></strong></h3>
    <h3>to barter with:</h3>
    <h3><strong><%= link_to @offer.product.title, product_path(@offer.product) %></strong></h3>

      <% if @offer.accepted == true %>
        <p>Your Offer is Accepted!</p>
      <% elsif @offer.refused == true %>
        <p>Your Offer is Refused!</p>
      <% else @offer.deal == false %>
        <p>Your Offer is still Pending</p>
      <% end %>



  <% else %>
    <h3><%= @offer.user.username %> offered you:</h3>
    <h3><strong><%= link_to @offer.offered_product.title, product_path(@offer.offered_product) %></strong></h3>

    <h3>to barter with your product:</h3>
    <h3><strong><%= link_to @offer.product.title, product_path(@offer.product) %></strong></h3>


    <h3>to barter with your product:</h3>
    <h3><strong><%= link_to @offer.product.title, product_path(@offer.product) %></strong></h3>
    <% if @offer.deal == false %>
      <%= button_to 'Accept Offer', accept_offer_path(@offer), method: :put %>
      <%= button_to 'Refuse Offer', refuse_offer_path(@offer), method: :put %>
    <% elsif @offer.accepted == true %>
      <p>You Accepted the Offer!</p>
    <% else %>
      <p>You Refused the Offer!</p>
    <% end %>
  <% end %>

<%# <%= link_to 'Delete', @offer, method: :delete, form: { data: { turbo_confirm: 'Do you really…' } })
%>

<%= link_to "Delete",
  offer_path(@offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>






  <div data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @offer.id %>">
    <div class="chatroom">
      <h1>#<%= @offer.id %></h1>

      <div class="messages" data-chatroom-subscription-target="messages">
        <% @offer.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div> <%# chatroom container %>

    <%= simple_form_for [@offer, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f| %>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@offer.id}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
    </div> <%# stimulus container %>
  </div> <%# main container %>

</div>
