<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8  d-flex justify-content-between">
      <h3>Products</h3>
      <div class="btn btn-success"><%= link_to 'add product', new_product_path %></div>
    </div>

    <div class="col-sm-8">
      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a product or address"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

      <div id="products">
        <% @products.each do |product| %>
          <div class = "product_card">
            <div class = "imgBx">
                <%= cl_image_path product.photos.first.key, height: 300, crop: :fill %>
              <div class="contentBx">
                <h3><%= link_to product.title , product_path(product)%></h3>
                <div class = "user">
                  <h4>Offer from:</h4>
                  <p><%= product.user.name %></p>
                    <div class = "quality">
                      <h4>Quality:</h4>
                      <p><%= product.quality %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
