
<div class="container">
<h1>Products</h1>
  <%= link_to 'add product', new_product_path %>

</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a product or address"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>



      <div id="products">
        <% @products.each do |product| %>
          <h4><%= link_to product.title , product_path(product)%></h4>
          <p><%= product.description %> || uploaded by: <%= link_to product.user.name, product.user %></p>
        <% end %>
        <br>
        <% if @products.empty? %>
          <%# <p>There are no products with your search!</p> %>
        <% end %>
      </div>
    </div>
  </div>
</div>
