<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8  d-flex justify-content-between">
      <h3>Products</h3>
      <div class="btn btn-success"><%= link_to 'add product', new_product_path %></div>
    </div>

    <div class="col-sm-8">
      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a product or address"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

      <div id="products">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class = "product_card mt-4">
              <div class = "imgBx">
                  <%= cl_image_tag product.photos.first.key %>
              </div>
              <div class="contentBx">
                  <p><%= link_to product.title , product_path(product), class: "link" %></p>
                  <div class="overlay">
                    <p><%= product.title %></p>
                  </div>
                <div class = "user">
                  <h6>Offer from:</h6>
                  <p><%= product.user.name %></p>
                </div>
                <div class = "quality">
                  <h6>Quality:</h6>
                  <p><%= product.quality %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
