<h1>Products#index</h1>

<div class="container">
  <%= link_to 'add product', new_product_path %>


</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a product or address"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

<%# <h4><%= link_to product.title , product_path(product) </h4>
    <p><%= product.description || uploaded by: <%= link_to product.user.name, product.user %>
      <div id="products" class='mt-4 row gap-3'>
        <% @products.each do |product| %>
          <div class="card text-bg-light mb-3 col-4" style="max-width: 18rem;">
            <div class="card-header">Category: <%= product.category%></div>
            <div class="card-body">
              <h5 class="card-title h5"><%= product.title %></h5>
              <p class="card-text"><%= product.description %></p>
              <%= link_to "Show more", product_path(product), class: 'btn btn-primary'%>
            </div>
        </div>
        <% end %>
        <br>
        <% if @products.empty? %>
          <%# <p>There are no products with your search!</p> %>
        <% end %>
      </div>
    </div>
  </div>
</div>
