<%# Search bar %>
  <div class="d-flex justify-content-center my-4" data-controller= 'search_products'>
    <%= form_with url: products_path, method: :get, class: "d-flex justify-content-center",
      data: {search_products: 'form'} do |form| %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control new-search",
        placeholder: "Find a product or address",
        data: {search_products_target: "input"}
      %>
        <%= radio_button_tag "category", "service" %>
          <%= label "service", "service" %>
        <%= radio_button_tag "category", "goods" %>
          <%= label "goods", "goods" %>
        <%= radio_button_tag "category", "all" %>
          <%= label "all", "all" %>
      <%= submit_tag "Search", class: "abtn" %>
    <% end %>
    <%# <div class="d-flex justify-content-center align-center ms-3"> %>
      <%# <%= link_to 'Add a product', new_product_path, class: 'abtn' %>
    <%# </div> %>
  </div>

<%# Display Products product_card %>

    <div class="row gap-4" id='products'>
      <% @products.each do |product| %>
          <div class= "card col-sm-6 col-md-3 col-lg-2 px-0">
            <% if product.photos.first %>
            <div class = "imgBx">
                <%= cl_image_tag product.photos.first.key, class: 'card-img-top' %>
            </div>
            <%end%>
            <div class="card-body">
              <p class='text-center'><%= link_to product.title.capitalize , product_path(product), class: 'text-decoration-none' %></p>
              <div>
                <p><strong>By:</strong> <%= product.user.name %></p>
                <p><strong>Quality:</strong> <%= product.quality.capitalize %></p>
              </div>
            </div> <%# card body %>
          </div> <%# card div %>
        <%# card container %>
      <% end %>
    </div> <%# row %>
