<h1>Products#index</h1>

<div class="container">
  <%= link_to 'add product', new_product_path %>


</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">

      <%= form_with url: products_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a product or address"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>

<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"></a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Services</a></li>
  </ul>
</div>



      <div id="products">
        <% @products.each do |product| %>
          <h4><%= link_to product.title , product_path(product)%></h4>
          <p><%= product.description %> || uploaded by: <%= product.user.name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
