    <div class="row gap-4" id='products' data-search-products-target="list">
      <% @products.each do |product| %>
          <div class= "card col-sm-6 col-md-3 col-lg-2 px-0">
            <% if product.photos.first %>
              <%= link_to product do %>
                    <%= cl_image_tag product.photos.first.key, class: 'card-img-top product-img' %>
              <% end %>
            <%end%>
            <div class="card-body d-flex flex-column justify-content-end">
              <p class='text-center product-title'><%= link_to product.title.capitalize , product_path(product), class: 'text-decoration-none' %></p>
              <div class="d-flex justify-content-between">
                <p class="username"><small><i class="fa-solid fa-user"></i> <%= link_to product.user.name %></small></p>
                <p><small><strong>Quality:</strong> <%= product.quality.capitalize %></small></p>
              </div>
            </div> <%# card body %>

          </div> <%# card div %>
        <%# card container %>
      <% end %>
    </div> <%# row %>
