<%# Code to display the product details and its images in a carousel %>
<div class="container">
    <div class="pic-title">
      <h4><strong><%= @product.title %></strong></h4>
        <div class="barter-button-container">
        <p><strong>Offered by:</strong> <%= link_to @product.user.username, @product.user %></p>
        <div class="barter_button">
          <% if @product.user != current_user %>
            <strong><%= link_to "barter", new_product_offer_path(@product), class:"button pulse" %></strong>
          <% end %>
          </div>
        </div>
    </div>
    <div class="product-up row flex-nowrap">
    <div class="page-left col-4">
      <%# <div class="main-pic" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @product.photos.first.key, height: 500, crop: :fill %>
      <div class="main-pic">
        <%if @product.photos.first %>
        <%= cl_image_tag  @product.photos.first.key, height: 400, crop: :fill%>
        <%end%>
      </div>

      <div class="small-pics">
        <% @product.photos.each_with_index do |photo, index| %>
          <%if photo %>
          <button data-bs-toggle="modal" data-bs-target="#pictureModal-<%=index%>" data-controller="modal">
            <%= cl_image_tag photo.key, height: 50, width: 80, crop: :fill, data_bs_toggle:"modal", data_bs_target:"#pictureModal-#{index}", data_controller:"modal" %>
          </button>
          <%end%>
          <div class="modal fade" id="pictureModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
              <%if photo %>
                <%= cl_image_tag photo.key, height: 500, width: 700, crop: :fill, data_bs_toggle:"modal", data_bs_target:"#exampleModal", data_controller:"modal" %>
              <%end%>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="page-right col-6">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <strong>Description</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <%= @product.description %> <p><%= @product.category %> : <%= @product.subcategory %></p>
              <p><strong>Address:</strong> <%= @product.address %></p>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <strong>Quality</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
            <%= @product.quality %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <strong>User Review</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <% if @product.user.rated_reviews.blank? %>
                <h5 class='text-center'> <strong><%= @product.user.first_name.capitalize %></strong><em> has no reviews! </h5></em>
              <% else %>
                <p>Overall Rating:</p>
                <p><%= @user_rating %></p>
                <hr>
                <p><strong>Reviews:</strong></p>
                <ul class="list-group">
                  <% @product.user.rated_reviews.each do |review| %>
                    <li class="list-group-item"><%= link_to review.reviewer.username, user_path(review.reviewer) %>: <%= review.content %>
                      <strong><%= 'â­' * review.rating %></strong>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="product-map" style="width: 100%">
        <div style="width: 100%; height: 300px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>

      <p><%= link_to 'edit this product', edit_product_path if @product.user == current_user %></p>

      <% if @product.user == current_user %>

        <p><%= link_to "Delete this Product",
                product_path(@product),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                %></p>
      <% end %>
    </div>
  </div>
</div>


