<div class="container text-center">
  <div class="row">
    <div class="col">



  </div>




<%# Code to display the product details and its images in a carousel %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%# Display the first photo in the array %>
      <%# <%= image_tag @product.photos.first.url, class: "img-fluid mb-4" if @product.photos.present? %>
      <%# Display the product information %>
      <h1><%= @product.title %></h1>
      <div class="container d-flex">
  <div>
    <%= cl_image_tag @product.photos.first.key, height: 300, width: 400, crop: :fill %>

    <%= @product.photos.each_with_index do |photo, index| %>

      <button data-bs-toggle="modal" data-bs-target="#pictureModal-<%=index%>" data-controller="modal">
        <%= cl_image_tag photo.key, height: 50, width: 80, crop: :fill, data_bs_toggle:"modal", data_bs_target:"#pictureModal-#{index}", data_controller:"modal" %>
      </button>

      <div class="modal fade" id="pictureModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <%= cl_image_tag photo.key, height: 500, width: 700, crop: :fill, data_bs_toggle:"modal", data_bs_target:"#exampleModal", data_controller:"modal" %>
          </div>
        </div>
      </div>


    <% end%>
  </div>
 </div>
</div>
          <p><strong>Offered by:</strong> <%= link_to @product.user.username, @product.user %></p>
            <p><%= link_to 'edit this product', edit_product_path if @product.user == current_user %></p>

            <% if @product.user == current_user %>

              <p><%= link_to "Delete this Product",
                      product_path(@product),
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
                      %></p>
            <% end %>
          <div class="col">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Description
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <%= @product.description %> <p><%= @product.category %> : <%= @product.subcategory %></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Quality
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
            <%= @product.quality %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              User Review
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
            <%= @product.user.email %> review not available for that user
            </div>
          </div>
        </div>
      </div>

<p></p>
<p></p>
      <div>
        <% if @product.user != current_user %>
          <button type="button" class="btn btn-success"> <strong><%= link_to "barter", new_product_offer_path(@product)%></strong></button>
        <% end %>
      </div>
      <p><strong>Address:</strong> <%= @product.address %></p>
      <div style="width: 300px; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <%# Display the remaining photos in a carousel %>
    <% if @product.photos.size > 1 %>
      <div class="col-md-6">
        <div id="productCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @product.photos.each_with_index do |photo, index| %>
              <li data-target="#productCarousel" data-slide-to="<%= index %>" <%= "class='active'" if index == 0 %>></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @product.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= "active" if index == 0 %>">
                <%= image_tag photo.url, class: "d-block w-100" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>





<div class="container">
  <div class="product-up">
    <div class="page-left">
      <div class="main-pic">
        <%= cl_image_tag @product.photos.first.key, height: 300, width: 400, crop: :fill %>

      </div>
      <div class="small-pics">
        <% @product.photos.each_with_index do |photo, index| %>

          <button data-bs-toggle="modal" data-bs-target="#pictureModal-<%=index%>" data-controller="modal">
            <%= cl_image_tag photo.key, height: 50, width: 80, crop: :fill, data_bs_toggle:"modal", data_bs_target:"#pictureModal-#{index}", data_controller:"modal" %>
          </button>

          <div class="modal fade" id="pictureModal-<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <%= cl_image_tag photo.key, height: 500, width: 700, crop: :fill, data_bs_toggle:"modal", data_bs_target:"#exampleModal", data_controller:"modal" %>
              </div>
            </div>
          </div>
        <%end%>

      </div>
    </div>
    <div class="page-right">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Description
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <%= @product.description %> <p><%= @product.category %> : <%= @product.subcategory %></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Quality
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
            <%= @product.quality %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              User Review
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
            <%= @product.user.email %> review not available for that user
            </div>
          </div>
        </div>
      </div>
      <div class="product-map">

      </div>
      <div class="barter-btn">

      </div>
    </div>
  </div>
</div>
