  <%# <h5>Add a review</h5> %>

  <%# <%= simple_form_for [@user, @review] do |f| %>





    <%# <%= f.input :content %>
    <%# <%= f.input :rating  %>

    <%# <%= f.submit "Submit review", class: "btn btn-primary"%>
  <%# <% end %>


  <br>

  <%= form_with model: [@user, @review], local:true do |f| %>
    <%= hidden_field_tag :previous_request, request.referer %>

    <div class="field form-group">
      <%= f.label :rating, "Rate #{@user.first_name.capitalize}!" %>
      <div class="rating">
        <%= f.collection_radio_buttons(:rating, [[5],[4],[3],[2],[1]], :first, :last) do |star| %>
          <%= star.radio_button %>
          <%= star.label(class: "text-white") %>
        <% end %>
      </div>
    </div>
    <div class="field form-group">
      <%# <%= f.label :content, "" %>
      <%= f.text_area :content, class: "form-control",
                          placeholder: "Tell people about #{@user.first_name.capitalize}" %>
    </div>

    <div class="actions">
      <%= f.submit "Submit your review", class: "btn btn-primary" %>
    </div>
  <% end %>
